@model HeimdallWeb.Models.Map.PaginatedResult<HeimdallWeb.Models.HistoryModel>

@if (TempData["OkMsg"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["OkMsg"]
    </div>
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["ErrorMsg"]
    </div>
}


<div class="container mt-5">
    <table class="table table-striped-columns table-hover">
        
        @if (Model != null && Model.Items.Any())
        {
            <thead>
                <tr class="text-center">
                    <th scope="col">Site</th>
                    <th scope="col">Relatório IA</th>
                    <th scope="col">Ações</th>
                    <th scope="col">Data de criação</th>
                </tr>
            </thead>
        }
        else
        {
            <div class="alert alert-info text-center" role="alert">
                Nenhum registro encontrado no histórico.
            </div>
        }
        <tbody class="table-group-divider">
        @if (Model != null && Model.Items.Any())
        {
            @foreach (var history in Model.Items)
            {
                <tr class="text-center">
                    <td hidden id="row-@history.history_id">@history.history_id</td>
                    <td >@history.target</td>
                    <td>
                        <a href="#">
                            Ver Relatório
                        </a>
                    </td>
                    <td class="justify-content-end">
                        <a class="btn btn-success" asp-controller="History" asp-action="ViewJson" asp-route-id="@history.history_id">JSON</a>
                        <a class="btn btn-primary" href="#">Resumo</a>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-danger"
                                    onclick="confirmDelete(@history.history_id)">
                                Excluir
                            </button>
                        </div>
                    </td>
                    <td>@history.created_date.ToString("G")</td>
                </tr>
            }
        }
        </tbody>
    </table>
    @if (Model.TotalPages > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.Page - 1)&pageSize=@Model.PageSize">Anterior</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="?page=@i&pageSize=@Model.PageSize">@i</a>
                    </li>
                }

                @if (Model.HasNext)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.Page + 1)&pageSize=@Model.PageSize">Próxima</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>

@section Scripts {
    <script>
        function confirmDelete(historyId) {
            Swal.fire({
                title: 'Tem certeza?',
                text: 'Essa ação não pode ser desfeita!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sim, excluir'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`@Url.Action("DeleteHistory", "History")?id=${historyId}`, {
                        method: "POST",
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            Swal.fire(`Item Deletado!`, data.message, 'success')
                            .then(() => {
                                document.getElementById('row-' + historyId).remove();
                                window.location.href = '@Url.Action("Index", "History", new { page = 1, pageSize = 10})';
                            });

                        } else {
                            Swal.fire('Erro', data.message, 'error');
                        }
                    })
                    .catch(err => {
                        Swal.fire('Erro', 'Ocorreu um erro ao processar a requisição: ' + err.message, 'error');
                    });
                }
            });
        }
    </script>
}