@model HeimdallWeb.Models.Map.PaginatedResult<HeimdallWeb.Models.HistoryModel>

<head>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
</head>

<div class="container-fluid cont-menu mb-5">
    <div class="row row-menu justify-content-evenly align-items-center">
        <div class="col-2">
            <a class="nav-link text-center text-white" asp-area="" asp-controller="History" asp-action="Index">Histórico</a>
        </div>
        @if (User.IsInRole("2")){
            <div class="col-2">
                <a class="nav-link text-center text-white" asp-area="" asp-controller="Admin" asp-action="DashboardAdmin">Dashboard</a>
            </div>
        }   
        <div class="col-2">
            <a class="nav-link text-center text-white" asp-area="" asp-controller="User" asp-action="Edit">Alterar Usuário</a>
        </div>
        <div class="col-2">
            <a class="nav-link text-center text-white" asp-area="" asp-controller="User" asp-action="Delete">Excluir Usuário</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    @if (TempData["OkMsg"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["OkMsg"]
        </div>
    }

    @if (TempData["ErrorMsg"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["ErrorMsg"]
        </div>
    }

    <table class="table table-striped-columns table-hover">
        
        @if (Model != null && Model.Items.Any())
        {
            <thead>
                <tr class="text-center">
                    <th scope="col">Site</th>
                    <th scope="col">Achados</th>
                    <th scope="col">Ações</th>
                    <th scope="col">Data de criação</th>
                </tr>
            </thead>
        }
        else
        {
            <div class="alert alert-info text-center" role="alert">
                Nenhum registro encontrado no histórico.
            </div>
        }
        <tbody class="table-group-divider">
        @if (Model != null && Model.Items.Any())
        {
            @foreach (var history in Model.Items)
            {
                <tr class="text-center">
                    <td hidden id="row-@history.history_id">@history.history_id</td>
                    <td >@history.target</td>
                    <td>
                        <a href="javascript:void(0);" onclick="loadFindings(@history.history_id)">
                            Ver achados
                        </a>
                    </td>
                    <td class="justify-content-end">
                        <a class="btn btn-success" asp-controller="History" asp-action="ViewJson" asp-route-id="@history.history_id">JSON</a>
                        <a class="btn btn-primary" href="#">Resumo</a>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-danger"
                                    onclick="confirmDelete(@history.history_id)">
                                Excluir
                            </button>
                        </div>
                    </td>
                    <td>@history.created_date.ToString("G")</td>
                </tr>
            }
        }
        </tbody>
    </table>

    <div class="modal fade" id="findingsModal" tabindex="-1" aria-labelledby="findingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Descrição</th>
                                <th>Risco</th>
                                <th>Recomendação</th>
                            </tr>
                        </thead>
                        <tbody id="findingsTableBody">
                            <!-- Vai ser preenchido via JS -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Aplicando lógica de paginação -->
    @if (Model.TotalPages > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.Page - 1)&pageSize=@Model.PageSize">Anterior</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                            <a class="page-link" href="?page=@i&pageSize=@Model.PageSize">@i</a>
                    </li>
                }

                @if (Model.HasNext)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.Page + 1)&pageSize=@Model.PageSize">Próxima</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>

@section Scripts {
    <script src="~/js/history.js" asp-append-version="true"></script>
}