@{
    ViewData["Title"] = "Alterar Usuário";
}
@model HeimdallWeb.DTO.UpdateUserDTO
@{
    ViewData["Title"] = "Editar Usuário";
}

<head>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
</head>

<div class="container-fluid cont-menu mb-5">
    <div class="row row-menu justify-content-evenly align-items-center">
        <div class="col-2">
            <a class="nav-link text-center text-white" asp-area="" asp-controller="History" asp-action="Index">Histórico</a>
        </div>
        @if (User.IsInRole("2")){
            <div class="col-2">
                <a class="nav-link text-center text-white" asp-area="" asp-controller="Admin" asp-action="DashboardAdmin">Dashboard</a>
            </div>
        }   
        <div class="col-2">
            <a class="nav-link text-center text-white" asp-area="" asp-controller="User" asp-action="Edit">Alterar Usuário</a>
        </div>
        <div class="col-2">
            <a class="nav-link text-center text-white" asp-area="" asp-controller="User" asp-action="Delete">Excluir Usuário</a>
        </div>
    </div>
</div>
    
    <div class="container editar-box" style="max-width: 680px; margin-top: 4rem;">
        @if (TempData["OkMsg"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["OkMsg"]
            </div>
        }

        @if (TempData["ErrorMsg"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["ErrorMsg"]
            </div>
        }
       <div>
           <div>
               <div class="row text-center mb-5">
                   <h2 class="mt-2 acme" style="color: #20373B; font-family: Acme, sans-serif;">Alterar Usuário</h2>
               </div>
                <form asp-controller="User" asp-action="EditAction" method="post">

                    <input type="hidden" asp-for="user_id" />
                    <div class="mb-4">
                        <label for="nome" style="color: #20373B; font-weight: bold;">Login <i class="fa-solid fa-user"></i></label>
                        <input type="text" asp-for="username" class="form-control" placeholder="Digite o nome do Usuário">
                        @Html.ValidationMessageFor(x => x.username)
                    </div>
                    <div class="mb-4">
                        <label for="email" style="color: #20373B; font-weight: bold;">E-mail <i class="fa-solid fa-envelope"></i></label>
                        <input type="email" asp-for="email" class="form-control" placeholder="Digite o email do Usuário">
                        @Html.ValidationMessageFor(x => x.email)
                    </div>
                    <div class="mb-4">
                        <label for="login" style="color: #20373B; font-weight: bold;">Senha <i class="fa-solid fa-lock"></i></label>
                        <input type="text" asp-for="password" class="form-control" placeholder="Digite a senha do Usuário">
                        @Html.ValidationMessageFor(x => x.password)
                    </div>
                    <div class="mb-4">
                        <label for="login" style="color: #20373B; font-weight: bold;">Confirmar senha <i class="fa-solid fa-lock"></i></label>
                        <input type="text" asp-for="confirm_password" class="form-control" placeholder="Digite a senha do Usuário">
                        @Html.ValidationMessageFor(x => x.confirm_password)
                    </div>

                        <button type="submit" class="btn btn" style="background-color: #20373B; color: #FFFFFF">Editar <i class="fa-solid fa-circle-info"></i></button>
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index" role= "button">Voltar</a>
                </form>
          </div>
       </div>
    </div>