@model UserModel
@{
    ViewData["Title"] = "Registrar";
}

@* Mensagem de validação (teste) de conclusão de registro, mudar para algo mais bonito depois *@
@if (TempData["OkMsg"] != null)
{
      <div class="alert alert-success" role="alert">  
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["OkMsg"]
     </div>
}
@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
         @TempData["ErrorMsg"]
    </div>
}


<div class="text-center">

    <h1 class="display-4">Registrar Usuário</h1>

</div>

<form asp-controller="User" asp-action="RegisterAction" method="post">
    <div class="mb-3">
        <label for="username">Nome de usuário:</label>
        <input type="text" asp-for="username" id="username" class="form-control"> 
         @Html.ValidationMessageFor(x => x.username)
        @* Mensagem de validação (teste) do model, mudar para algo mais bonito depois *@
   </div>

    <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" asp-for="email" id="email" class="form-control"/>
        @Html.ValidationMessageFor(x => x.email)
    </div>

    <div class="mb-3">
        <label for="password">Senha:</label>
        <input type="password" asp-for="password" id="password" class="form-control">
        @Html.ValidationMessageFor(x => x.password)
    </div>

    <div class="mb-3">
        <label for="confirm_password">Confirmar senha:</label>
        <input type="password" asp-for="confirm_password" id="confirm_password" class="form-control">
        @Html.ValidationMessageFor(x => x.confirm_password)
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>