
<head>


    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />


</head>


@model HeimdallWeb.DTO.LoginDTO


@{


    ViewData["Title"] = "Login";


}

<div class="container menu">


    @if (TempData["OkMsg"] != null)


    {


        <div class="alert alert-success" role="alert">


            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>


            @TempData["OkMsg"]


        </div>


    }





    @if (TempData["ErrorMsg"] != null)


    {


        <div class="alert alert-danger" role="alert">


            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>


            @TempData["ErrorMsg"]


        </div>


    }





    <div class="row align-items-center">


        <div class="col-6 mt-5">


            <img src="~/images/Heimdallr_by_Froelich_Trans.png" alt="imagem-Heimdallr">


        </div>





        <div class="col-6">


            <form class="login mt-5" asp-action="Enter" asp-controller="Login" method="post">


                <div class="justify-content-center align-items-center">


                    <div class="card shadow-lg p-4">


                        <div class="text-center mb-4">


                            <h2 class="mt-2 acme">Faça Login</h2>


                        </div>





                        <div class="mb-3">


                            <label for="emailOrLogin" class="form-label roboto">


                                <i class="fa-solid fa-user"></i> Email ou Usuário


                            </label>


                            <input type="text" class="form-control" asp-for="emailOrLogin" id="emailOrLogin" name="emailOrLogin" placeholder="Digite seu email ou nome de usuário" required>


                            @Html.ValidationMessageFor(x => x.emailOrLogin)


                        </div>





                        <div class="mb-5">


                            <label for="password" class="form-label roboto">


                                <i class="fa-solid fa-lock"></i> Senha


                            </label>


                            <input type="password" class="form-control" asp-for="password" id="password" name="password" placeholder="Digite sua senha" required>


                            @Html.ValidationMessageFor(x => x.password)


                        </div>





                        <div class="d-grid mb-3">


                            <button class="btn btn-warning roboto" type="submit">


                                Entrar


                            </button>


                        </div>





                        <div class="text-center roboto-min">


                            <small class="roboto">Não tem uma conta? <a asp-area="" asp-controller="User" asp-action="Register" class="roboto">Cadastre-se</a></small>


                        </div>


                    </div>


                </div>


            </form>


        </div>


    </div>


</div>








<footer class="navbar fixed-bottom bg-dark" data-bs-theme="dark">


    <div class="ms-3 nav container-fluid d-flex flex-wrap justify-content-between py-lg-1 my-lg-1 my-0 py-0">


        <div class="navbar-text col-md-4 d-flex align-items-center">


            <span class="fs-5">&copy; @DateTime.Now.Year - HeimdallWeb</span>


        </div>


        <div class="nav-item col-md-4 gap-2 justify-content-end d-flex align-items-center">


            <a class="nav-link text-opacity-50 text-light" href="http://"><i class="bi bi-envelope-at fa-2xl"></i></a>


            <a class="nav-link text-opacity-50 text-light" href="http://"><i class="bi bi-whatsapp fa-2xl"></i></a>


        </div>


    </div>


</footer>